[submodule "interplm"]
	path = interplm
	url = https://github.com/ElanaPearl/interPLM.git
[submodule "model-scout"]
	path = model-scout
	url = https://github.com/icyjayd/model-scout.git
	branch = main
